.About{
    display:flex;
    height: 100vh;
    width:100%;
    position:relative;
    scroll-snap-align: center;
    flex-direction: column;
}


@media (max-device-width: 800px){
    .About{
      scroll-snap-align: none;
      display:block;
      height:auto;
      
    }
   
}