.progress {
    background-color:#d8d8d8;
    width:200px;
	margin: 15px 0;
    height:25px;
    border-radius: 20px;
    
}
.progress-done{
    border-radius: 20px;
    background-color: #185a9d;
    height: 100%;
	width: 0;
	opacity: 0;
    transition: 1s ease 0.3s;
    color:white;
    padding-top:12px;
}