.Sections_intro{
    margin-top:60px;
    width:600px;
    align-self: center;
    text-align: center;
    padding:20px;
    

}

.Sections_list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align:center;
    margin-top:70px;

}


.Sections_cp{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;

   }


.root1{
    text-align:center;
    min-width:600px;
}

.my_cft{
    position: relative;
   }



.my_cft:hover{
    cursor: pointer;
}

.my_cft div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #185a9d;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
   }

.my_cft:hover div{
    width: 200px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 1;
    }


    @media (max-device-width: 800px)
    {
        .root1{
            width:200px;
            margin:20px;
        }
    }
        