.App{
  position:relative;
  display:flex;
  justify-content: flex-start;
  min-height: 100vh;
  flex-wrap: wrap;
  width:100%;
  scroll-snap-align: center;

}

@media (max-device-width: 800px){
  .App{
    scroll-snap-align: none;
  }
 
}

#root{
  height:100vh;
}

